<head>
  <title>Log in</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<h2 style="color: red">Wrong Username Or Password</h2>
<br>
<h2>Log in</h2>
<form method="post" action="/user/login">
  <label for="username">Username</label>
  <input type="text" class="form-control" placeholder="Username" name="username">
  <label for="password">Password</label>
  <input type="password" class="form-control" placeholder="Password" name="password">
  <br>
  <input type="submit" class="btn btn-success btn-lg" value="Login">
</form>
</body>