<html>
<head>
  <title>Database</title>

  <!--CSS-->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link href="//bootswatch.com/cyborg/bootstrap.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<%= yield %>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>